@keyframes editPanelMoveIn {
    0%{
        transform: translate(-50%, -50%) translateY(100vh);
        opacity: 0;
    }
    100%{
        transform: translate(-50%, -50%) translateY(0px);
        opacity: 1;
    }
}

.inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: block;
    line-height: 1;
    padding: 8px 12px;
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
    cursor: pointer;
}
.links:hover{
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}
.signPanel{
    width: 40vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 999;
    box-shadow: 8px 8px 7px rgb(0, 0, 0, 0.25);
    border-radius: 15px;
}
.signPanel.show{
    opacity: 1;
    visibility: visible;
    display: block;
    animation: editPanelMoveIn 0.5s ease-in-out;
}
.overlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
}