@keyframes editPanelMoveIn {
    0%{
        transform: translate(-50%, -50%) translateY(100vh);
        opacity: 0;
    }
    100%{
        transform: translate(-50%, -50%) translateY(0px);
        opacity: 1;
    }
}

/* position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000; 
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px); */
.naviBar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: rgba(255,255,255,0.75);
    backdrop-filter: blur(10px);
    transform: translate(0%,0%);
}
.inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.2vh 2vw;
}
.logoBox{
    margin: "-5vw";
    width: 5.5vh;
}
.logo{
    width: 100%;
    height: 100%;
    padding-top: 0.55vh;
    object-fit: cover;
}
.webName{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #0D283C;
    font-size: 2.5vh;
    font-weight: 800;
    padding: 0 1.5vh;
    margin: -1vh -0.2vw;
}
.links{
    display: block;
    line-height: 1;
    padding: 8px 12px;
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
    cursor: pointer;
}
.links:hover{
    color: #777CB9;
}
.select{
    z-index: 1001;
}

.message-box{
    position: relative;
    height: 100%;
}
.messageImg{
    background-image: url(./../../public/message.png);
    background-size: cover;
    height: 5vh;
    width: 5vh;
    display: flex;
    position: absolute;
    top: 292%;
    left: 32.5%;
    z-index: 99999;
}
