.course-container {
    padding: 2rem 0;
}

.course-header {
    background-color: #e6e8f4;
    border-radius: 12px;
    padding: 2rem;
}

.enroll-button {
    width: fit-content;
}

.course-intro {
    max-width: 90%;
}
