.video-grid{
    margin-top: 20px;
    margin-bottom: 20px;
}
.video-title{
    font-size: larger;
    font-weight: bold;
}

@keyframes button-move-to-corner {
    0%{
        transform: translate(0, 0) translateY(30vh);
    }
    100%{
        transform: translate(0,0) translateY(0);
    }
}

#right-corner{
    position: fixed;
    right: 3rem;
    bottom: 1rem;
    animation: button-move-to-corner 0.3s ease-in-out;
}
#normal{
    position: relative;
    margin-top: 3vh;
    margin-left: 1.5vw;
}

.tabs{
    margin-left: 1rem;
    margin-top: 2rem;
    font-size: large;
}
.tabs-list{
    margin-bottom: 4vh;
}
.video-container{

    margin-top: 2rem;
}
.post-button{
    margin-top: 3rem;
    background-color: #3C4077;
}
.post-button:hover{
    background-color: #3C4077;
}
.post-panel{
    display: block;
    justify-self: center;
}
.lecture_list_div{
    padding-top: 2vh;
    padding-left: 0.5vw;
}

#video-release-date{
    text-align: left;
    color: grey
}
.lectureList{
    top: 15vh;
    width: 28vw;
    position: fixed;
}