.comment {
    padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl);
    margin: 20px; /* 设置左边距 */
    position: sticky;
    top: 0; /* 距离父容器顶部的距离 */
    z-index: 1; /* 确保层级足够高 */
}

.body {
    padding-left: rem(54px);
    padding-top: var(--mantine-spacing-sm);
    font-size: var(--mantine-font-size-sm);
}

.content {
    & > p:last-child {
        margin-bottom: 0;
    }
}

.comment {
    transition: box-shadow 0.2s ease,
    background-color 0.2s ease;
}

.comment:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: #f1f1f1;
}
