.content-box{
    width: 100%;
    height: 45vh;
    padding: 0.5vh 1vw 5vh 1vw;
}
/* 浅蓝色背景 + 未读圆点 */
.message-item.unread {
    background-color: #e6f4ff; /* 浅蓝色 */
    padding-left: 16px;
    position: relative;
}

/* 小圆点样式 */
.message-item.unread::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #007aff; /* 蓝色小圆点 */
    border-radius: 50%;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

/* 已读状态（无背景/无圆点） */
.message-item.read {
    background-color: transparent;
}


.message-content{
    color: gray;
}
.sender-name{
    font-weight: 500;
    color: #309AA8;
}
.message-type{
    font-weight: 700;
    color: #777CB9;
    padding-left: 0.5vw;
}
.timestamp{
    padding-left: 0.5vw;
}

.placeholder{
    width: 100%;
}

