.content-box{
    width: 100%;
    height: 45vh;
    padding: 0.5vh 1vw 5vh 1vw;
}
.message-item {
    border-bottom: 1px solid #e0e0e0;
    padding: 1vh 0;
}

.message-content{
    color: gray;
}
.sender-name{
    font-weight: 500;
    color: #309AA8;
}
.message-type{
    font-weight: 700;
    color: #777CB9;
    padding-left: 0.5vw;
}
.timestamp{
    padding-left: 0.5vw;
}

.placeholder{
    width: 100%;
}

