@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.bgImg{
    background-image: url(./../../public/background.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    position: relative;
    justify-self: center;
    width: 100%;
    margin-top: -10vh;
}
.bgLight{
    background-image: url(./../../public/holyy.png);
    background-size: cover;
    height: 55vh;
    width: 55vh;
    display: flex;
    position: absolute;
    top: -16.7%;
    right: 8.1%;
    opacity: 0.75;

    animation: spin 20s linear infinite;
}
.iconImg{
    background-image: url(./../../public/main-logo.png);
    background-size: cover;
    height: 35vh;
    width: 35vh;
    display: flex;
    position: absolute;
    top: 20%;
    right: 7.5%;
}
.intro{
    display: flex;
    position: absolute;
    top: 30%;
    left: 7.5%;
    flex-direction: column;
    align-items: flex-start;
}