.bgImg{
    background-image: url(./../../public/background.png);
    background-size: cover;
    background-position: center;
    height: 55vh;
    display: flex;
    position: relative;
    justify-self: center;
    width: 100%;
    margin-top: -7vh;
}
.bgLight{
    background-image: url(./../../public/light.png);
    background-size: cover;
    height: 75vh;
    width: 75vh;
    display: flex;
    position: absolute;
    top: -35%;
    right: 2.5%;
}
.iconImg{
    background-image: url(./../../public/main-logo.png);
    background-size: cover;
    height: 35vh;
    width: 35vh;
    display: flex;
    position: absolute;
    top: 20%;
    right: 7.5%;
}
.intro{
    display: flex;
    position: absolute;
    top: 28%;
    left: 7.5%;
    flex-direction: column;
    align-items: flex-start;
}
