.courseContainer {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 70vw;
    margin: auto;
    padding-top: 4.5vh;
}
  
.categoriesContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
}
  
.categoriesTitle {
    font-weight: bold;
    font-size: 1.5vw;
    margin-bottom: 10px;
}
  
.categoriesList {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1vw;
    gap: 10px;
}
  
.categoriesButton {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: 0.3s;
    width: 100%;
    text-align: center;
}
  
.categoriesButton:hover {
    background-color: #ddd;
}
  
.selected {
    background-color: #434884;
    color: white;
}
  
.courseList {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    gap: 15px;
}

/* .courseCardMain {
    
}

.courseCard:focus,
.courseCard:active,
.courseCard:focus-visible {
    outline: none;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
} */
.cookieConsent{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

