.avatar{
    cursor: pointer;
}
.authorName{
    cursor: pointer;
}
.authorName:hover{
    text-decoration: underline;
}
.paper{
    border: 1px solid  #777cb9;
    cursor: pointer;
}
.paper:hover{
    transform: translateY(-2px);
}
.paper:active{
    transform: translateY(0);
    background-color: #DEE0EF;
}
.badge {
    display: inline-flex;
    align-items: center;
    background-color: #777cb9; /* 紫色背景 */
    color: white;
    padding: 3px 12px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    margin-right: 0.3vw;
}

.badge::before {
    content: "";
    position: absolute;
    left: -11px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent #777cb9 transparent transparent;
}

.replyBadgeGrid{
    justify-content: flex-end;
    display: flex;
    margin: auto;
}
.paginationDiv{
    display: flex;
    justify-content: center;
}
.pagination{
    justify-content: center;
}
.title{
    /* cursor: pointer;
    color: #00053b; */
    padding: 0.2vh 0.6vw;
}
/* .title:hover{
    text-decoration: underline;
} */
  