.avatar{
    cursor: pointer;
}
.authorName{
    cursor: pointer;
}
.authorName:hover{
    text-decoration: underline;
}
.paper{
    border: '1px solid';
    border-color: #777cb9
}
.badge {
    display: inline-flex;
    align-items: center;
    background-color: #777cb9; /* 紫色背景 */
    color: white;
    padding: 5px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
}

.badge::before {
    content: "";
    position: absolute;
    left: -11px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent #777cb9 transparent transparent;
}

.replyBadgeGrid{
    justify-content: flex-end;
    display: flex;
    margin: auto;
}
.paginationDiv{
    display: flex;
    justify-content: center;
}
.pagination{
    justify-content: center;
}
.title{
    cursor: pointer;
    color: #00053b;
}
.title:hover{
    text-decoration: underline;
}

.assignmentImg {
    position: fixed;
    top: 0;
    left: 0;
    height: 55vh;
    width: 100%;
    z-index: 0;
    pointer-events: none;
    background-image: url(./../../public/assginment.png);
    background-size: cover;
    margin-top: 10vh;
    margin-right: 10vw;
  }
  