.frame{
    width: 300px;
    border-radius: 10px;
    border-width: 10px;
    border-style: double;
    border-color: aqua;
}
.main_data{
    text-align: center;
    font-size: 36px;
    color: black;
    font-weight: bolder;
}
.secondary_data{
    font-size: 10px;
    color: black;
    text-align: right;
    font-weight: bold;
}